.sidebar {
  height: calc(100vh - 50px);
  flex: 1;
  padding-left: 10px;
  position: sticky;
  top: 50px;
}

.section {
  margin-top: 20px;
}

.section-title {
  font-size: 15px;
  font-weight: bold;
  color: rgb(163, 163, 163);
  margin: 10px 10px 0 0;
}

.section-item {
  font-size: 20px;
  margin: 5px 5px 10px 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  color: rgb(77, 75, 75);
}
.section-item.active,
.section-item:hover {
  background-color: rgb(164, 216, 213);
  border-radius: 10px;
  cursor: pointer;
}

.sidebarIcon {
  margin-right: 10px;
}
